/* card */
.card {
    background-color: #f7f7f7;
    border-color: transparent;
}

.card .btn {
    background-color: #0070d8;
    color: #ffffff;
}

.card-subtitle {
    color: #757575;
    font-family: 'Schibsted Grotesk', sans-serif;
}

.card-text {
    color: #757575;
    font-family: 'Inter', sans-serif;
}

.card-title {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 600;
}

/* font */
* {
    font-family: 'Schibsted Grotesk', sans-serif;
}

.inter {
    font-family: 'Inter', sans-serif;
    color: #757575;

}

.fw-600 {
    font-weight: 600;

}

/* navigation */
nav {
    background-color: #FFFFFF;
    font-size: 16px;
}

nav a {
    color: #424242;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover {
    color: #424242;
    font-weight: 600;
}

nav .active {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #0070D8;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

nav p {
    color: #424242;
}

/* title */
.title {
    font-size: 52px;
    font-weight: 800;
}

.title-subtext {
    color: #757575;
    font-size: 20px;
}

/* button */
.btn-outline {
    background-color: #ffffff;
    color: #0070d8;
    border-color: #0070d8;
}