/* Typography */
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cabin", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.75;
    padding-bottom: 50px;
}

/* Link functionality */
a:link {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}


/* Project gallery image sizing/styling */
.gallery-border {
    border-radius: 5px 5px 0px 0px;
    height: auto;
    width: 100%;
}


/* Individual project card element */
.grid {
    border-color: #DFDFDF;
    border-radius: 6px;
    border-style: solid;
    border-width: 0.5px;
    height: auto;
    max-width: auto;
}

.grid-p {
    font-size: 14px;
    color: #6F6F6F;
}

/* Mobile */
@media (max-width: 992px) {
    #about-mobile-img {
        width: 100%;
    }
    #mobile-intro {
        padding-bottom: 100px;
        padding-top: 200px;
    }
    #mobile-nav {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #f7f7f7;
    }
    #mobile-nav a {
        font-weight: 300;
    }
    #web-nav {
        display: none;
    }
    .content-mobile {
        width: 90%;
    }
    .content-web {
        display: none;
    }
    .case-study-content {
        width: 90%;
    }
}

/* Desktop */
@media (min-width: 993px) {
    #about-web-img {
        object-fit: cover;
        width: 600px;
        height: auto;
    }
    #mobile-nav {
        display: none;
    }
    #web-nav {
        background-color: #F7F7F7;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 6%;
        padding-bottom: 0px;
        position: fixed;
        display: block;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    #web-nav li {
        color: #000000;
        list-style-type: none;
        margin-left: 0;
        padding-top: 10px;
        list-style-type: none;
        text-decoration: none;
    }
    #web-nav ul {
        padding-left: 0;
        padding-bottom: 20px;
        list-style-type: none;
    }
    #web-nav a {
        color: black;
        text-decoration: none;
        background-image: linear-gradient(#5B83D8, #5B83D8);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
    }
    #web-nav a:hover,
    #web-nav a:focus {
        background-size: 100% 3px;
    }
    .case-study-content {
        padding-left: 15%;
        width: 72%;
    }
    .content-mobile {
        display: none;
    }
    .content-web {
        padding-left: 25%;
        padding-right: 0%;
    }
}